.DS_Store
sftp-config*

application/cell/cache/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php

temp/*

upload/*

assets/*

command/compass/.sass-cache/*

command/gulp/node_modules/*
command/gulp/.sass-cache/*
command/gulp/npm-debug.log
