@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?1f3nt9');
	src:url('fonts/icomoon.eot?#iefix1f3nt9') format('embedded-opentype'),
		url('fonts/icomoon.woff?1f3nt9') format('woff'),
		url('fonts/icomoon.ttf?1f3nt9') format('truetype'),
		url('fonts/icomoon.svg?1f3nt9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
	content: "\e011";
}
.icon-camera:before {
	content: "\e017";
}
.icon-cog:before {
	content: "\e023";
}
.icon-paper:before {
	content: "\e034";
}
.icon-tag:before {
	content: "\e085";
}
.icon-star:before {
	content: "\e620";
}
.icon-th-menu-outline:before {
	content: "\e61a";
}
.icon-star-outline:before {
	content: "\e621";
}
.icon-info-large-outline:before {
	content: "\e61b";
}
.icon-star2:before {
	content: "\e622";
}
.icon-account-circle:before {
	content: "\e600";
}
.icon-favorite:before {
	content: "\e623";
}
.icon-favorite-outline:before {
	content: "\e624";
}
.icon-search:before {
	content: "\e601";
}
.icon-star-rate:before {
	content: "\e625";
}
.icon-image2:before {
	content: "\e602";
}
.icon-people:before {
	content: "\e603";
}
.icon-person-add:before {
	content: "\e604";
}
.icon-star3:before {
	content: "\e626";
}
.icon-star-half:before {
	content: "\e627";
}
.icon-star-outline2:before {
	content: "\e628";
}
.icon-info:before {
	content: "\e61c";
}
.icon-star4:before {
	content: "\e629";
}
.icon-heart:before {
	content: "\e62a";
}
.icon-heart2:before {
	content: "\e62b";
}
.icon-picture:before {
	content: "\e00f";
}
.icon-pictures:before {
	content: "\e010";
}
.icon-camera2:before {
	content: "\e012";
}
.icon-adjustments:before {
	content: "\e01d";
}
.icon-map:before {
	content: "\e025";
}
.icon-puzzle:before {
	content: "\e026";
}
.icon-gears:before {
	content: "\e02b";
}
.icon-pricetags:before {
	content: "\e02f";
}
.icon-magnifying-glass:before {
	content: "\e037";
}
.icon-caution:before {
	content: "\e03d";
}
.icon-map-pin:before {
	content: "\e047";
}
.icon-aperture:before {
	content: "\e056";
}
.icon-facebook:before {
	content: "\e05d";
}
.icon-list:before {
	content: "\e61d";
}
.icon-info2:before {
	content: "\e61e";
}
.icon-star5:before {
	content: "\e62c";
}
.icon-settings:before {
	content: "\e605";
}
.icon-info3:before {
	content: "\f059";
}
.icon-minus:before {
	content: "\e60c";
}
.icon-plus:before {
	content: "\e60d";
}
.icon-cancel:before {
	content: "\e60e";
}
.icon-comment:before {
	content: "\e60f";
}
.icon-chat:before {
	content: "\e610";
}
.icon-instagram:before {
	content: "\e611";
}
.icon-tag2:before {
	content: "\e612";
}
.icon-picture2:before {
	content: "\e613";
}
.icon-home:before {
	content: "\e614";
}
.icon-image3:before {
	content: "\e615";
}
.icon-image4:before {
	content: "\e616";
}
.icon-images:before {
	content: "\e617";
}
.icon-users:before {
	content: "\e618";
}
.icon-users2:before {
	content: "\e619";
}
.icon-star6:before {
	content: "\e62d";
}
.icon-star7:before {
	content: "\e62e";
}
.icon-star8:before {
	content: "\e62f";
}
.icon-heart3:before {
	content: "\e630";
}
.icon-reply:before {
	content: "\e606";
}
.icon-forward:before {
	content: "\e607";
}
.icon-camera22:before {
	content: "\e608";
}
.icon-image22:before {
	content: "\e609";
}
.icon-cog2:before {
	content: "\e60a";
}
.icon-left:before {
	content: "\e60b";
}
.icon-star9:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-photo:before {
	content: "\f03e";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-star-half2:before {
	content: "\f089";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-heart4:before {
	content: "\e631";
}
.icon-heart5:before {
	content: "\e632";
}
.icon-star10:before {
	content: "\e633";
}
.icon-star11:before {
	content: "\e634";
}
.icon-thumbsup:before {
	content: "\e635";
}
.icon-thumbsdown:before {
	content: "\e636";
}
.icon-list2:before {
	content: "\e61f";
}
